{
  "extends": "airbnb",
  "globals": {
    "describe": true,
    "it": true,
    "document": true,
    "window": true
  },
  "rules": {
    "class-methods-use-this": "off",
    "react/jsx-one-expression-per-line": "off"
  }
}
